<div class="nested-fields">
   <div class="container w-75 mt-3">
    <label for="Procedure">手順</label>
     <div><%= f.text_area :explanation, placeholder: "手順", class: "form-control mb-3" %></div>
      <div class="delete-btn"><%= link_to_remove_association "↑削除する", f, class: "badge badge-pill badge-warning text-white mt-2 ml-2" %></div>
    </div>
  </div>
</div>


