// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sized {
  margin: auto;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
  

.top-font {
  position: relative;
  display: inline-block;
  height: 64px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #FFCC00;
  box-shadow: 4px 4px #668AD8;
  
}

.top-font:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #FFCC00 transparent transparent;
}

.top-font:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}