// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sized {
  margin: auto;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 450px;
  height: 450px;
}
  

.item {
  width: 140px;
  height: 140px;
}

.bd-placeholder-img {
  border-radius: 20%;
}
