// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sized {
  margin: auto;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 700px;
  height: 700px;
}
  

.item {
  width: 140px;
  height: 140px;
}

.top-font {
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.top-font span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #FF8C00;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}

