// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.catchcopy {
  width: 350px;
  height: 100px;
  overflow: hidden;
}

.recipe-text {
  color: gray;
}

.link-color {
  color: gray;
}

.tag-text {
   color: white;
}

.introduction {
  width: 600px;
  overflow: hidden;
}

.tag-color {
  color: white;
}

.searchs {
 margin-left: 110px; 
}

.pagination {
  justify-content: center;
}

.pagination>li>a {          
  border: none;     
  color: #696969; 
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;  
}

.pagination>li>a:hover {        
  border-radius: 15px;   
}

// 星評価のcss
.sweet_star {
  font-size: 1.3em;
  color: #FFCC00;
}

.spicy_star {
  font-size: 1.3em;
  color: #FFCC00;
}

.salt_star{
  font-size: 1.3em;
  color: #FFCC00;
}

.bitter_taste_star {
  font-size: 1.3em;
  color: #FFCC00;
}

.acidity_star {
  font-size: 1.3em;
  color: #FFCC00;
}

.circle {
  color: #FFCC00;
}

.star_text {
  color: white;
}