// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.catchcopy {
  width: 350px;
  height: 100px;
  overflow: hidden;
}

.delete-btn a {
  color: white;
}

.link-color {
  color: gray;
}

.tag-text {
   color: white;
}

.introduction {
  width: 600px;
  overflow: hidden;
}

.tag-color {
  color: white;
}
