<% if obj.errors.any? %>
<div class="text-center">
  <div id="error_explanation">
    <h3><%= pluralize(obj.errors.count, "error") %> prohibited this obj from being saved:</h3>
      <% obj.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </ul>
  </div>
 </div>
<% end %>
